/*Main styles*/

body {
    background-color: #466A95;
	font-family: 'PT Sans', sans-serif;
	margin: 0px;
	position: relative;
	width: 100%;
}
h1 {
	text-align: center;
    color: blue;
}

.section_header {
	margin: 0 auto;
	margin-bottom: 20px;
}

/*About Me*/
.about_me {
	padding-top: 2rem;
	padding-bottom: 1rem;
	background-color: #466A95;
}

.jumbotron {
	width: 50%;
	margin-left: 10%;
}

.display-4 {
	text-align: left;
}

/*Project Image Cards*/
.project_bg {
	background-color: #AFBCCD;
}

.project_gallery {
	width: 80%;
	margin: 0 auto;
	padding-top: 60px;
	background-color: #AFBCCD;
	padding-bottom: 1rem;
}

.card {
	display: inline-block;
}

.skills-card {
	margin: 1rem 1rem 1rem 1rem;
	text-align: center;
}

.card-text {
	color: black;
	font-size: 20;
	text-align: left;
	width: 100%;
	margin: auto;
	background-color: white;
	padding: 0px;
}

/*Timeline*/
.experience_bg {
	background-color: #466A95;
}

.experience_skills {
	padding-top: 60px;
	background-color: #466A95;
	width: 80%;
	margin: 0 auto;
	color: white;
}

.skills {
	margin: 0 auto;
	width: 80%;
	color: white;
	background-color: #466A95;
	padding-bottom: 4rem;
}

.timeline_container {
	width: 50%;
	margin: 0 auto;
}


ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/*Contact Info*/
.contact_bg {
	background-color: #748FB0;
}

.contact_info {
	padding-top: 60px;
	background-color: #748FB0;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 2rem;
}

.jumbotron-fluid {
	margin: 0 auto;
	width: 90%;
}

.container {
	margin: 0 auto;
	text-align: center;
}