/*Main styles*/
:root {
  --accent-color: #1FABF6;/*#3397CE;#EA4E4E;*/
  --dark: #EEEEEE;
  --off-white: #EEEEEE;
  --bg-color: white;
  --dark-font: black;
  --light-font: white;
}

body {
    background-color: var(--bg-color);
	font-family: "Libre Franklin", sans-serif;
	margin: 0px;
	position: relative;
	width: 100%;
}
h1 {
	text-align: center;
}
.p {
	font-family: "Arvo", sans-serif;
}

.btn {
	background-color: var(--accent-color) !important;
	border-color: var(--accent-color) !important;
	color: var(--off-white);
}

.btn:hover {
	background-color: var(--off-white) !important;
	color: var(--accent-color) !important;
}

.badge {
	background-color: var(--accent-color);
}

.section_header {
	margin: 0 auto;
	margin-bottom: 20px;
	color: var(--accent-color);
}

.navbar-custom {
	background-color: var(--bg-color) !important;
}

.navbar-brand {
	font-weight: bold;
	color: var(--accent-color) !important;
}

.navbar_top a {
	float: left;
	display:block;
}

.navbar-custom .nav-item a:hover {
	border-bottom: 3px solid var(--accent-color);
}

.navbar-custom .nav-item a.active {
	border-bottom: 3px solid var(--accent-color);
}

/*Homepage Jumbotron*/
.home_jumbotron {
	padding-top: 2rem;
	padding-bottom: 1rem;
	background-color: var(--bg-color);
}

.jumbotron {
	width: 70%;
	margin: auto;
	background-color: var(--bg-color) !important;
}

.jumbotron-buttons {
	text-align: center;
}

.jumbotron-img {
	width: 150px;
	border-radius: 50%;
	margin: auto;
	display: block;
}

.text-link{
	color: var(--accent-color);
}

/*Project Image Cards*/
.project_bg {
	background-color: var(--bg-color);
	color: var(--bg-color);
}

.project_gallery {
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
	background-color: var(--bg-color);
	padding-bottom: 1rem;
}

.card-columns {
	padding-top: 50px;
}

.card {
	display: inline-block;
	color: black;
	border-color: var(--dark);
	border-width: 2px;
}

.skills-card {
	margin: 1rem 1rem 1rem 1rem;
	text-align: center;
}

.card-text {
	color: black;
	font-size: 20;
	text-align: left;
	width: 100%;
	margin: auto;
	background-color: white;
	padding: 0px;
}

/*Contact Info*/
.contact_bg {
	background-color: var(--bg-color);
	margin: 30px;
	margin-bottom: 90px;
}

.contact_info {
	padding-top: 60px;
	background-color: var(--bg-color);
	width: 80%;
	margin: 0 auto;
	padding-bottom: 2rem;
}

.jumbotron-fluid {
	margin: 0 auto;
	width: 90%;
	background-color: var(--bg-color) !important;
	border-radius: 10px;
}

.container {
	margin: 0 auto;
	text-align: center;
	background-color: var(--bg-color);
}